<header class="site-header">

  <div class="wrapper">

    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <div class="search">
      <input type="search" placeholder="pay parking ticket" /><input type="submit" value="Search" />
    </div>
    <nav class="main-nav">
    	<ul>
    		<li><a href="">Government</a></li>
    		<li><a href="">Parks &amp; Rec</a></li>
    		<li><a href="">Public Safety</a></li>
    		<li><a href="">Licensing &amp; Permits</a></li>
    		<li><a href="">Utilities &amp; Streets</a></li>
    		<li><a href="">Property</a></li>
    	</ul>
    </nav>
  </div>
    
</header>
